---

---

<div class="absolute inset-0 overflow-hidden pointer-events-none">
    <!-- Top Right Orb -->
    <div
        class="absolute top-0 right-0 w-[500px] h-[500px] bg-primary/20 rounded-full blur-[100px] -translate-y-1/2 translate-x-1/2 opacity-70 animate-pulse-slow"
    >
    </div>

    <!-- Bottom Left Orb -->
    <div
        class="absolute bottom-0 left-0 w-[500px] h-[500px] bg-secondary/10 rounded-full blur-[100px] translate-y-1/2 -translate-x-1/2 opacity-70"
    >
    </div>

    <!-- Center/Random Ambient -->
    <div
        class="absolute top-1/2 left-1/2 w-[800px] h-[800px] bg-indigo-500/5 rounded-full blur-[120px] -translate-x-1/2 -translate-y-1/2"
    >
    </div>
</div>
